@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 10px;
}


body {
    font-size: 1.6rem;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%)
}


.card-container {
    max-width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px  hsl(212, 45%, 89%);
}

.card-container .card-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;

}

.card-container .card-image img{
    width: 100%;
    object-fit: cover;


}

.card-container  h5{
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 20px;
}

.card-container span{
    font-size: 19px;
    color:hsl(220, 15%, 55%);
    text-align: center;
    margin-bottom: 30px;
}